{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Contact Me</h1>
    <p>Email: ar_etezad@yahoo.com</p>
    <p>Phone: +989013841134</p>
    <p>Social Media: </p>
    <ul>
        <ul>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/alireza-etezad-66b457116/" target="_blank">alireza-etezad</a></li>
        <li>Telegram: <a href="https://t.me/Alirezaete/" target="_blank">alirezaete</a></li>
        <li>Instagram: <a href="https://instagram.com/alireza_etezad/" target="_blank">alireza_etezad</a></li>
        <li>GitHub: <a href="https://github.com/AlirezaEtezad" target="_blank">AlirezaEtezad</a></li>
    </ul>
</div>
{% endblock %}
